<header class="app-header">
  <h1 class="app-title">NoteApp</h1>
  <button class="add-note">+</button>

  <div class="add-note-form">
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button class="save-note">Create Note</button>
  </div>
</header>

<main class="app-main">
  <div class="note">
    <p>This is just a simple Note Demo</p>
  </div>

  <div class="note">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis enim iusto nulla assumenda quae quaerat nemo omnis dolor quam aliquam soluta tempora vel iste animi cumque quas voluptates, magnam. At.</p>
  </div>

  <div class="note">
    <p>Qui amet quasi beatae eveniet repellendus magni, est placeat, harum laboriosam excepturi, quisquam ad eligendi inventore soluta dolorum ipsam, saepe neque maiores.</p>
  </div>

</main>
